/CropPlanning/nbproject/private/
.DS_Store
/CropPlanning/build/
/TableUtil/dist/
/TableUtil/build/
/CropPlanning/dist/
/TableUtil/nbproject/private/
CropPlanning/appcast-item.xml
CropPlanning/twinkle.properties
